.heading {
	font-size: 48px;
	margin-bottom: 40px;
}

.publishedOn {
	margin-bottom: 20px;
}

.post {
	display: flex;
	flex-direction: column;
}

.post > * {
	margin-bottom: 20px;
}

.post p, .post li, .thank_you {
	font-size: 20px;
	line-height: 30px;
}

.post ul li:not(:last-child) {
	margin-bottom: 8px;
}

.post li::marker {
	color: var(--orange);
}

.post a {
	text-decoration: underline;
	text-underline-offset: 1px;
}

.post code {
	background-color: var(--black);
	font-size: 16px;
	line-height: 24px;
	padding: 4px 8px;
}

.article_link_wrapper {
	display: flex;
	justify-content: space-between;
}

.article_link {
	border: 1px solid var(--orange);
	padding: 12px 8px 8px;
	border-radius: 4px;
	max-width: 45%;
	position: relative;
	font-weight: bold;
}

.article_link::after {
	content: "blog++";
	font-size: 12px;
	font-weight: normal;
	background-color: var(--bkg);
	padding-left: 4px;
	padding-right: 4px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.prev_article::after {
	content: "blog--";
}

@media screen and (orientation:landscape) and (min-width: 1200px) {
	.heading {
		font-size: 64px;
	}

	.publishedOn {
		font-size: 16px;
	}
}