html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#name path:nth-child(1) {
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(2) {
    stroke-dasharray: 282;
    stroke-dashoffset: 282;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(3) {
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(4) {
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(5) {
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(6) {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(7) {
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(8) {
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(9) {
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(10) {
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(11) {
    stroke-dasharray: 215;
    stroke-dashoffset: 215;
    animation: line-animation 0.7s linear forwards;
}
#name path:nth-child(12) {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: line-animation 0.7s linear forwards;
}

p {
    color: white;
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
    color: hsl(225, 100%, 50%);
    font-weight: bold;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    max-width: 500px;
}

a:hover {
    color: white;
}

.name-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 41%;
    max-height: 70px;
}

#me {
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 8.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

#me img {
    border-radius: 50%;
}

#name {
    width: 100%;
    height: 100%;
    animation: fill-animation 0.2s linear forwards 0.8s;
}

#about {
    width: 100%;
    position: absolute;
    top: 55.5%;
    font-size: 24px;
}

#links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 85%;
    max-height: 50px;
}

#links svg {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

@media screen and (orientation:portrait) and (max-width: 430px) {
    .container {
        max-width: inherit;
        width: 80vw;
        position: relative;
    }

    .name-container {
        position: absolute;
        max-height: 50px;
    }

    #about {
        position: absolute;
        font-size: 16px;
    }

    #links {
        position: absolute;
        max-height: 35px;
    }

    #links svg {
        max-width: 35px;
        max-height: 35px;
    }
}

@media screen and (orientation:landscape) and (max-height: 430px) {
    
    .container {
        padding: 20px;
        position: static;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 100px 250px;
        grid-template-rows: 100px auto;
        grid-gap: 25px;
        place-items: center;
        grid-template-areas: 
            "me name"
            "links about"
    }
    
    #me {
        grid-area: me;
        position: static;
        width: 100px;
        height: 100px;
        transform: initial;
    }

    .name-container {
        grid-area: name;
        position: static;
    }
    
    #about {
        grid-area: about;
        position: static;
        font-size: 16px;
        line-height: 27px;
    }

    #links {
        grid-area: links;
        position: static;
        flex-direction: column;
        max-height: initial;
    }

    #links svg {
        height: 35px;
        width: 35px;
    }

}

@media screen and (orientation:portrait) and (max-width:320px) {
    #me {
        width: 150px;
        height: 150px;
    }
}


@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-animation {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}