.main {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 64px;
}

.heading {
	font-size: 48px;
}

.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}

.about {
	font-size: 20px;
	line-height: 30px;
}

.about a {
	text-decoration: underline;
}

@media screen and (orientation:landscape) and (max-height: 430px) {
	.main {
		padding-bottom: 16px;
	}
	
	.heading {
		padding-top: 44px;
	}

	.container {
		flex-direction: row-reverse;
		justify-content: space-evenly;
	}

	.about {
		width: 40%;
	}
}

@media screen and (orientation:landscape) and (min-width: 1200px) {
	.main {
		padding: 0;
	}

	.heading {
		padding-top: 100px;
		font-size: 64px;
	}

	.container {
		margin-top: 60px;
		flex-direction: row-reverse;
		justify-content: space-evenly;
	}

	.about {
		width: 40%;
		font-size: 28px;
		line-height: 42px;
	}
}