.name {
    font-size: 64px;
    font-family: 'Dancing Script', cursive;
}

.background {
    z-index: 10;
}

.container {
    width: 40vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    max-width: 600px;
}

#about {
    font-size: 24px;
    line-height: 1.5;
}

@media screen and (orientation:portrait) and (max-width: 430px) {
    .background {
        width: 100vw;
        height: 100vh;
        background-image: url(../public/pic.jpg);
        background-size: 48% 27%;
        background-position: 50% 20%;
        background-repeat: no-repeat;
    }

    .container {
        width: 100vw;
        height: 45vh;
        position: absolute;
        bottom: 20px;
        padding-right: 20px;
    }

    .name {
        font-size: 48px;
    }

    #about {
        font-size: 20px;
    }
}

@media screen and (orientation:landscape) and (max-height: 430px) {
    .container {
        width: 50vw;
    }

    .name {
        font-size: clamp(24px, 7vw, 48px);
        transform: translateY(25px);
    }

    #about {
        font-size: 16px;
        transform: translateY(25px);
    }
}

@media screen and (orientation:landscape) and (max-height:320px) {
    .container {
        width: 55vw;
    }

    .name {
        font-size: 32px;
    }
}