.container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: var(--bkg);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s linear;
	z-index: 10;
}

.hide {
	transform: translateX(-100%);
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.button {
	height: 50px;
	background: var(--black);
	border-radius: 25px;
	padding: 16px 12px;
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.icon {
	width: 36px;
	height: 36px;
}

.text {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: .5px;
}

.linkedin {
	box-shadow: 0 4px 4px 0 var(--blue);
}

.linkedin:active {
	box-shadow: 0 0 4px 0 var(--blue);
}

.mail {
	box-shadow: 0 4px 4px 0 var(--red);
}

.mail:active {
	box-shadow: 0 0 4px 0 var(--red);
}

.github {
	box-shadow: 0 4px 4px 0 var(--white);
}

.github:active {
	box-shadow: 0 0 4px 0 var(--white);
}

.experience {
	box-shadow: 0 4px 4px 0 var(--purple);
}

.experience:active {
	box-shadow: 0 0 4px 0 var(--purple);
}

/* Phones in landscape */
@media screen and (orientation:landscape) and (max-height: 430px) {
	.nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
	}
}

@media screen and (orientation:landscape) and (min-width: 1200px) {
	.container {
		height: 100px;
		width: 800px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.hide {
		transform: translate(-50%, -100%);
	}

	.nav {
		flex-direction: row;
	}
}