.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.skills_container {
    max-width: 300px;
    width: 50%;
    background-color: white;
    box-shadow: 10px 15px black;
    padding: 0 15px 15px;
}

.skills_title {
    margin: 5px auto 15px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.skills_list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.skills_list svg {
    width: 64px;
    height: 64px;
}

.frontend {
    grid-template-columns: repeat(3, 1fr);
}


@media screen and (orientation:landscape) and (max-height: 430px){
    .skills_container {
        width: 25%;
    }

    .skills_list svg {
        width: 48px;
        height: 48px;
    }

}

@media screen and (orientation:portrait) {
    .wrapper {
        flex-direction: column;
    }
}

@media screen and (orientation:portrait) and (max-width: 430px) {
    .skills_container {
        width: 75%;
    }

    .skills_list svg {
        width: 48px;
        height: 48px;
    }

}

@media screen and (orientation:portrait) and (max-width: 330px) {

    .skills_list svg {
        width: 32px;
        height: 32px;
    }

}